@import "icons";
@font-face {
    src: url("icons");
    unicode-range: U+26;
}
#id{

}
.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px;
    align-items: center;
    background-color: white;
}

.goods-image {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}
li::after {
    content: "[" counter(listCounter) "] == ["
    counter(listCounter, upper-roman) "]";
    font-size: small;
}
.goods-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    height: 200px;
    box-sizing: border-box;
    border: 200px;
}

.goods-info .spec{
    background-color: #DCDFE6;
    font-size: 24px;
    display: inline;
    padding: 8px 12px;
    border-radius: 20px;
}

.goods-name {
    font-size: 32px;
}

.price-and-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.test{
    filter: opacity(/*0.1*/0.1);
}

#id{

}

